* {
  box-sizing: border-box;
   
}

body {
  padding: 0px;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
 background-image: url("leafbg.jpg");
 background-position: center;
   
}


.container{
  width: 800px;
  max-width: 80%;
  background-color: orange;
  border: radius 5px;
  padding: 15px;
  
}



.answers, .navButtons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 20px;
}


.answerButton, .next, .previous{
  border: solid 1px white;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.answerButton:hover {
  border-color: blue;
  color: blue;
}
.next, .previous {
  background-color: white;
  color: blue;
}
.next:hover, .previous:hover{
  background: black;

}

